.YourCartMainPage {
  margin-top: 5rem;
  font-family: "Montserrat";
}
.YourCartMainPage .CartContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  place-items: center;
}
.YourCartMainPage .CartContainer .CartPageHead {
  width: 95%;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2rem;
}
.YourCartMainPage .CartContainer .CartPageHead .CartPageStatus {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  overflow: hidden;
}
.YourCartMainPage .CartContainer .CartPageHead .CartPageStatus .CartStatusMain {
  position: relative;
}
.YourCartMainPage .CartContainer .CartPageHead .CartPageStatus .CartStatusMain .CartProgressBar {
  position: absolute;
  opacity: 50%;
  top: 1.65rem;
  left: 0.5rem;
  z-index: -1;
  width: 7rem;
  height: 0.7rem;
  background-color: #F5F5F5;
}
.YourCartMainPage .CartContainer .CartPageHead .CartPageStatus .CartStatusMain #ActiveBar {
  background-image: linear-gradient(90deg, #4BACE0 50%, #F5F5F5 80%);
}
.YourCartMainPage .CartContainer .CartPageHead .CartPageStatus .CartStatusMain #CompleteBar {
  background-color: #4BACE0;
}
.YourCartMainPage .CartContainer .CartPageHead .CartPageStatus .CartStatus1, .YourCartMainPage .CartContainer .CartPageHead .CartPageStatus .CartStatus2, .YourCartMainPage .CartContainer .CartPageHead .CartPageStatus .CartStatus3 {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #F5F5F5;
  display: flex;
  place-content: center;
  place-items: center;
}
.YourCartMainPage .CartContainer .CartPageHead .CartPageStatus .CartStatus1 svg, .YourCartMainPage .CartContainer .CartPageHead .CartPageStatus .CartStatus2 svg, .YourCartMainPage .CartContainer .CartPageHead .CartPageStatus .CartStatus3 svg {
  width: 1.5rem !important;
}
.YourCartMainPage .CartContainer .CartPageHead .CartPageStatus #ActiveCartStatus {
  background-color: #4BACE0;
}
.YourCartMainPage .CartContainer .CartPageHead h2 {
  text-align: center;
  width: 55rem;
  font-weight: 700;
}
.YourCartMainPage .CartContainer .CartPageHead .CartPageStatus {
  display: flex;
  place-content: center;
}
.YourCartMainPage .CartContainer .YourCart {
  width: 95%;
}
.YourCartMainPage .CartContainer .YourCart .CartNav-Bar-Content {
  background-color: #2F455C;
  height: 3.5rem;
  border-radius: 1.2em 1.2em 0 0;
  display: flex;
  place-content: center;
  place-items: center;
}
.YourCartMainPage .CartContainer .YourCart .CartNav-Bar-Content h3 {
  margin-bottom: 0rem !important;
  font-weight: 600;
  color: #fff;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 {
  margin-top: 0rem !important;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  place-items: center;
  border-radius: 0 0 1.2em 1.2em;
  background-color: #F1F1F1;
  width: 100%;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .ItemDetailImage {
  width: 15rem;
  height: 8rem;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .ItemDetailImage img {
  width: 15rem;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details h5 {
  color: #4BACE0;
  margin-bottom: 2rem;
  font-weight: 700;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .SubTotal {
  display: flex;
  gap: 43rem;
  background-color: #2F455C;
  width: 60rem;
  border-radius: 1.2em;
  padding: 0.5rem;
  place-content: center;
  place-items: center;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .SubTotal h5 {
  margin-bottom: 0;
  color: #fff;
  font-weight: 700;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Confirmation {
  display: flex;
  gap: 36rem;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Confirmation button {
  border: none;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Confirmation .BackArrows, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Confirmation .ProceedArrow {
  display: flex;
  gap: 1rem;
  place-content: center;
  place-items: center;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Confirmation h5 {
  color: #2F455C;
  font-weight: 700;
  margin-bottom: 0;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Confirmation #H5color {
  color: #4BACE0;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details #SubTotal {
  display: flex;
  gap: 33rem;
  background-color: #2F455C;
  width: 60rem;
  border-radius: 1.2em;
  padding: 0.5rem;
  place-content: center;
  place-items: center;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details #SubTotal .SubtotalUnder {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  place-content: center;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details #SubTotal .SubtotalUnder h5 {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0rem;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details #Confirmation {
  width: 32rem;
  text-align: center;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details #Confirmation h5 {
  color: #4BACE0;
  font-size: 1rem;
  font-weight: 700;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 {
  width: 60rem;
  background-color: #fff;
  border-radius: 1.2em;
  display: flex;
  place-items: center;
  align-items: normal;
  padding: 2rem;
  gap: 3rem;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .ImageBg {
  background-color: #2F455C;
  width: 12rem;
  height: 16rem;
  display: flex;
  place-content: center;
  place-items: center;
  border-radius: 1.2em;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .ImageBg img {
  width: 10rem;
  height: auto;
  border-radius: 1.2em;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content {
  text-align: left;
  width: 32rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .CartDetails h4 {
  font-weight: 700;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .CartDetails p {
  font-size: 0.8rem;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .HorizontalLine {
  height: 0.2rem;
  background-color: #F5F5F5;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .AddMore {
  border: none;
  text-align: center;
  text-decoration: underline;
  font-weight: 700;
  background-color: white;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .QuantityContainer {
  display: flex;
  gap: 18rem;
  place-content: center;
  place-items: center;
  margin-bottom: 0;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .QuantityContainer .QuantityBox, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .QuantityContainer .PriceBox {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  gap: 1rem;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .QuantityContainer .QuantityBox h6, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .QuantityContainer .PriceBox h6 {
  text-align: right;
  margin-bottom: 0rem;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .QuantityContainer .QuantityBox .QuantityButton, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .QuantityContainer .QuantityBox .TotalPricing, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .QuantityContainer .PriceBox .QuantityButton, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .QuantityContainer .PriceBox .TotalPricing {
  background-color: #F5F5F5;
  height: 2rem;
  width: 7rem;
  border-radius: 0.5em;
  display: flex;
  gap: 0.5rem;
  place-content: center;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .QuantityContainer .QuantityBox .QuantityButton #QuantButt, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .QuantityContainer .QuantityBox .TotalPricing #QuantButt, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .QuantityContainer .PriceBox .QuantityButton #QuantButt, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .QuantityContainer .PriceBox .TotalPricing #QuantButt {
  border: none !important;
  text-decoration: none;
  outline: none !important;
  background-color: #F5F5F5;
  padding: 0 !important;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .QuantityContainer .QuantityBox .QuantityButton h6, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .QuantityContainer .QuantityBox .TotalPricing h6, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .QuantityContainer .PriceBox .QuantityButton h6, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content .QuantityContainer .PriceBox .TotalPricing h6 {
  place-content: center;
  display: flex;
  place-items: center;
  margin-bottom: 0;
  width: 2rem;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content #QuantityContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  place-content: center;
  place-items: center;
  margin-bottom: 0;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content #QuantityContainer .QuantityBox, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content #QuantityContainer .PriceBox {
  width: 15rem;
  display: flex;
  place-content: center;
  place-items: center;
  gap: 1rem;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content #QuantityContainer .QuantityBox h6, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content #QuantityContainer .PriceBox h6 {
  text-align: right;
  width: 50%;
  margin-bottom: 0rem;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content #QuantityContainer .QuantityBox .QuantityButton, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content #QuantityContainer .QuantityBox .TotalPricing, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content #QuantityContainer .PriceBox .QuantityButton, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content #QuantityContainer .PriceBox .TotalPricing {
  background-color: #F5F5F5;
  height: 2rem;
  width: 50%;
  border-radius: 0.5em;
  display: flex;
  gap: 0.5rem;
  place-content: center;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content #QuantityContainer .QuantityBox .QuantityButton #QuantButt, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content #QuantityContainer .QuantityBox .TotalPricing #QuantButt, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content #QuantityContainer .PriceBox .QuantityButton #QuantButt, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content #QuantityContainer .PriceBox .TotalPricing #QuantButt {
  border: none !important;
  text-decoration: none;
  outline: none !important;
  background-color: #F5F5F5;
  padding: 0 !important;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content #QuantityContainer .QuantityBox .QuantityButton h6, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content #QuantityContainer .QuantityBox .TotalPricing h6, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content #QuantityContainer .PriceBox .QuantityButton h6, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Cart-Item-Content #QuantityContainer .PriceBox .TotalPricing h6 {
  place-content: center;
  display: flex;
  place-items: center;
  margin-bottom: 0;
  width: 2rem;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Delete-Button {
  display: flex;
  align-items: center;
}
.YourCartMainPage .CartContainer .YourCart .CartContent1 .Item1 .Delete-Button .DeleteBtn {
  display: none;
}
.YourCartMainPage .NotLoggedInCart {
  background-color: #F5F5F5;
  border-radius: 1.2em;
  height: 20rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  margin-bottom: 15rem;
}
.YourCartMainPage .NotLoggedInCart .NotLoggedInCartHead {
  border-radius: 1.2em 1.2em 0rem 0rem;
  display: flex;
  place-content: center;
  place-items: center;
  height: 3rem;
  color: #fff;
  width: 100%;
  background-color: #2F455C;
}
.YourCartMainPage .NotLoggedInCart .NotLoggedInCartHead h6 {
  margin-bottom: 0rem;
}
.YourCartMainPage .NotLoggedInCart .NotLoggedInCartBody {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  place-content: center;
  place-items: center;
}
.YourCartMainPage .NotLoggedInCart .NotLoggedInCartBody h1 {
  font-weight: 700;
  color: #2F455C;
}
.YourCartMainPage .NotLoggedInCart .NotLoggedInCartBody .Non-Login-Button .Login-Cart-Button {
  position: relative;
  height: 3rem;
  margin: 0;
  padding: 0em 2em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #2F455C;
  border-radius: 1.2em;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.YourCartMainPage .NotLoggedInCart .NotLoggedInCartBody .Non-Login-Button .Login-Cart-Button:hover {
  animation: sh0 0.5s ease-in-out both;
}
@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
.YourCartMainPage .NotLoggedInCart .NotLoggedInCartBody .Non-Login-Button .Login-Cart-Button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
.YourCartMainPage .NotLoggedInCart .NotLoggedInCartBody .Non-Login-Button .Login-Cart-Button::before,
.YourCartMainPage .NotLoggedInCart .NotLoggedInCartBody .Non-Login-Button .Login-Cart-Button::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}
.YourCartMainPage .NotLoggedInCart .NotLoggedInCartBody .Non-Login-Button .Login-Cart-Button:hover::before,
.YourCartMainPage .NotLoggedInCart .NotLoggedInCartBody .Non-Login-Button .Login-Cart-Button:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.YourCartMainPage .NotLoggedInCart .NotLoggedInCartBody .Non-Login-Button .Login-Cart-Button:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}
.YourCartMainPage .NotLoggedInCart .NotLoggedInCartBody .Non-Login-Button .Login-Cart-Button:hover::after {
  transform: translate(50%, 0) scale(1.1);
}

@media screen and (max-width: 900px) {
  .YourCartMainPage {
    margin-top: 5rem;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
  }
  .YourCartMainPage .CartContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    place-items: center;
  }
  .YourCartMainPage .CartContainer .CartPageHead {
    gap: 2rem;
  }
  .YourCartMainPage .CartContainer .CartPageHead .CartPageStatus {
    gap: 2rem;
  }
  .YourCartMainPage .CartContainer .CartPageHead .CartPageStatus .CartStatusMain .CartProgressBar {
    top: 1.35rem;
    width: 5rem;
    height: 0.5rem;
  }
  .YourCartMainPage .CartContainer .CartPageHead .CartPageStatus .CartStatus1, .YourCartMainPage .CartContainer .CartPageHead .CartPageStatus .CartStatus2, .YourCartMainPage .CartContainer .CartPageHead .CartPageStatus .CartStatus3 {
    width: 3rem;
    height: 3rem;
  }
  .YourCartMainPage .CartContainer .CartPageHead .CartPageStatus .CartStatus1 svg, .YourCartMainPage .CartContainer .CartPageHead .CartPageStatus .CartStatus2 svg, .YourCartMainPage .CartContainer .CartPageHead .CartPageStatus .CartStatus3 svg {
    width: 1.2rem !important;
  }
  .YourCartMainPage .CartContainer .CartPageHead h2 {
    font-size: 1rem;
    width: 25rem;
  }
  .YourCartMainPage .CartContainer .CartPageHead .CartPageStatus {
    display: flex;
    place-content: center;
  }
  .YourCartMainPage .CartContainer .YourCart {
    width: 95%;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .SubTotal {
    gap: 10rem;
    width: 26rem;
    padding: 0.5rem;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .SubTotal h5 {
    font-size: 1rem;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Confirmation {
    gap: 9rem;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Confirmation .BackArrows, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Confirmation .ProceedArrow {
    gap: 1rem;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Confirmation .BackArrows svg, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Confirmation .ProceedArrow svg {
    width: 1.5rem;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Confirmation .BackArrows h5, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Confirmation .ProceedArrow h5 {
    font-size: 1rem;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details #SubTotal {
    gap: 5.5rem;
    width: 26rem;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details #SubTotal .SubtotalUnder {
    gap: 1rem;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details #SubTotal .SubtotalUnder h5 {
    font-size: 0.8rem;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details #Confirmation {
    width: 20rem;
    text-align: center;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details #Confirmation h5 {
    font-size: 0.7rem;
    font-weight: 700;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 {
    place-content: center !important;
    place-items: center !important;
    width: 26rem;
    flex-direction: column;
    align-items: normal;
    padding: 1rem !important;
    gap: 1rem;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .ImageBg {
    margin-left: -1rem;
    background-color: #2F455C;
    width: 9rem !important;
    height: 12rem;
    display: flex;
    place-content: center;
    place-items: center;
    border-radius: 1.2em;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .ImageBg img {
    width: 7rem;
    height: auto;
    border-radius: 1.2em;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content {
    text-align: left;
    width: 13rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 0rem;
    width: 20rem;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .CartDetails {
    place-content: center;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .CartDetails h4 {
    font-weight: 700;
    text-align: center;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .CartDetails p {
    font-size: 0.7rem;
    text-align: center;
    text-align: justify;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .AddMore {
    border: none;
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    background-color: white;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .QuantityContainer {
    display: flex;
    gap: 8rem;
    place-content: center;
    place-items: center;
    margin-bottom: 0;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .QuantityContainer .QuantityBox, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .QuantityContainer .PriceBox {
    width: 6rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .QuantityContainer .QuantityBox .QuantityButton, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .QuantityContainer .QuantityBox .TotalPricing, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .QuantityContainer .PriceBox .QuantityButton, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .QuantityContainer .PriceBox .TotalPricing {
    background-color: #F5F5F5;
    height: 2rem;
    border-radius: 0.5em;
    display: flex;
    gap: 0.5rem;
    place-content: center;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .QuantityContainer .QuantityBox .QuantityButton #QuantButt, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .QuantityContainer .QuantityBox .TotalPricing #QuantButt, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .QuantityContainer .PriceBox .QuantityButton #QuantButt, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .QuantityContainer .PriceBox .TotalPricing #QuantButt {
    border: none !important;
    text-decoration: none;
    outline: none !important;
    background-color: #F5F5F5;
    padding: 0 !important;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .QuantityContainer .QuantityBox .QuantityButton h6, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .QuantityContainer .QuantityBox .TotalPricing h6, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .QuantityContainer .PriceBox .QuantityButton h6, .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Cart-Item-Content .QuantityContainer .PriceBox .TotalPricing h6 {
    place-content: center;
    display: flex;
    place-items: center;
    margin-bottom: 0;
    width: 2rem;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Delete-Button {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 0rem;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Delete-Button svg {
    display: none;
  }
  .YourCartMainPage .CartContainer .YourCart .CartContent1 .Item-Details .Item1 .Delete-Button .DeleteBtn {
    border-radius: 0.5em;
    background-color: #2F455C;
    color: #fff;
    border: none;
    width: 20rem;
    visibility: visible;
    display: inline;
  }
}/*# sourceMappingURL=YourCartPage.css.map */