@import "../../globalcss/global.scss";

.YourCartMainPage{
    margin-top: 5rem;
    font-family: "Montserrat";
    .CartContainer{
        display: flex;
            flex-direction: column;
            gap: 3rem;
             place-items: center;
            .CartPageHead{
                width: 95%;
                display: flex;
            flex-direction: column;
                place-items: center;
                gap: 2rem;
                .CartPageStatus{
                    display: flex;
                    flex-direction: row;
                    gap: 3rem;
                    overflow: hidden;
                    .CartStatusMain{
                        position: relative;
                        .CartProgressBar{
                            position: absolute;
                            opacity: 50%;
                            top: 1.65rem;
                            left: 0.5rem;
                            z-index: -1;
                            width: 7rem;
                            height: 0.7rem;
                            background-color: $thirdcolor;
                        }
                        #ActiveBar {
                            background-image: linear-gradient(90deg, $primarycolor 50%, $thirdcolor 80%);
                            // opacity: 75%;
                        }
                        #CompleteBar{
                            background-color: $primarycolor;
                        }
                    }

                    .CartStatus1, .CartStatus2, .CartStatus3{
                        width: 4rem;
                        height: 4rem;
                        border-radius: 50%;
                        background-color: $thirdcolor;
                        display: flex;
                        place-content: center;
                        place-items: center;
                        svg{
                            width: 1.5rem !important;
                        }
                    }
                    #ActiveCartStatus{
                        background-color: $primarycolor;
                        
                        
                    }
                    
                }

                h2{
                    text-align: center;
                    width: 55rem;
                    font-weight: 700;
                }
                .CartPageStatus{
                    display: flex;
                    place-content: center;
                }
            }
            .YourCart{
                width: 95%;
                .CartNav-Bar-Content{
                    background-color:$secondarycolor;
                height: 3.5rem;
                border-radius: 1.2em 1.2em 0 0;
                display: flex;
                place-content: center;
                place-items: center;
                
                h3{
                    margin-bottom: 0rem !important;
                    font-weight: 600;
                    color: #fff;
                }
                }
                .CartContent1{
                    margin-top: 0rem !important;
                    .Item-Details{
                        padding: 2rem 0rem ;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        place-items: center;
                        border-radius: 0 0 1.2em 1.2em;
                        // place-content: center;
                        
                        background-color: #F1F1F1;
                        width: 100%;
                        // height: 40rem;
                        .ItemDetailImage{
                            width: 15rem;
                                height: 8rem;
                                // margin-bottom: 10rem;
                                // border: 5px solid red;
                                display: flex;
                                place-content: center;
                                place-items: center;
                                overflow: hidden;
                            img{
                                width: 15rem;
                                // height: 3rem;
                            }
                        }
                        h5{
                            color: $primarycolor;
                            margin-bottom: 2rem;
                            font-weight: 700;
                        }
                        
                        .SubTotal{
                            display: flex;
                            gap:43rem;
                            background-color: $secondarycolor;
                            width: 60rem;
                            border-radius: $PrimaryBorderRadius;
                            padding: 0.5rem ;
                            place-content: center;
                            place-items: center;
                            h5{
                                margin-bottom: 0;
                                color: #fff;
                                font-weight: 700;
                            }
                            
                            
                        }
                        
                        .Confirmation{
                            display: flex;
                            gap: 36rem;
                            // margin-left: 40rem;
                            button{
                                border: none;
                            }
                            .BackArrows , .ProceedArrow{
                                display: flex;
                                gap:1rem;
                                place-content: center;
                                place-items: center;
                            }
                            
                            h5{
                                color: $secondarycolor;
                                font-weight: 700;
                                margin-bottom: 0;
                            }
                            #H5color{
                                color: $primarycolor;

                            }
                        }

                        
                    
                        #SubTotal{
                            display: flex;
                            gap:33rem;
                            background-color: $secondarycolor;
                            width: 60rem;
                            border-radius: $PrimaryBorderRadius;
                            padding: 0.5rem ;
                            place-content: center;
                            place-items: center;
                            
                            .SubtotalUnder{
                                // width: 25rem !important;
                                display: flex;
                                flex-direction: row;
                                gap: 1rem;
                                place-content: center;
                                h5{
                                    font-size: 1rem;
                                    font-weight: 700;
                                    color: #fff;
                                    margin-bottom: 0rem;
                                }
                            }
                            
                        }
                   
                        
                        
                        
                        #Confirmation{
                            width: 32rem;
                            text-align: center;
                            h5{
                                color: $primarycolor;
                                font-size: 1rem;
                                font-weight: 700;
                            }
                            }
                        }

                
               
                    
                    

                    .Item1{
                        
                        width: 60rem;
                        // margin-top: 2rem;
                        // height:auto;
                        background-color: #fff;
                        border-radius: 1.2em;
                        // margin-bottom: 0rem !important;
                        display: flex;
                        // flex-direction:row;
                        place-items: center;
                        // justify-content:flex-start;
                        align-items: normal;
                        // place-content: center;
                        padding: 2rem;
                        gap: 3rem;
                        // margin-left: 1rem;



                    
                    .ImageBg{
                        background-color: $secondarycolor;
                        width: 12rem;
                        height: 16rem;
                        display: flex;
                        place-content: center;
                        place-items: center;
                        border-radius: $PrimaryBorderRadius;
                        // border-radius: 1.2em;
                        // margin-right: 2rem;
                        img{
                            width: 10rem;
                            height: auto;
                            border-radius: $PrimaryBorderRadius;
                            // border-radius: 1.2em !important;
                        }

                    }
                    .Cart-Item-Content{
                        text-align: left;
                        // margin-left: 2rem; 
                        width: 32rem;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;


                        .CartDetails{
                            h4{
                                // font-size: 1rem;
                                font-weight: 700;
                            }

                            p{
                                font-size: .8rem;
                            }
                        }
                        .HorizontalLine{
                            // width: ;
                            height: 0.2rem;
                            background-color: $thirdcolor;
                        }

                        .AddMore{
                            border: none;
                            text-align: center;
                            text-decoration: underline;
                            font-weight: 700;
                            background-color: white;
                        }
                        .QuantityContainer{
                            display: flex;
                            
                            gap: 18rem;
                            place-content: center;
                            place-items: center;
                            margin-bottom: 0;
                        
                        .QuantityBox, .PriceBox{
                            // width: 15rem;
                            display: flex;
                            flex-direction: column;
                            place-content: center;
                            place-items: center;
                            gap: 1rem;
                            h6{
                                text-align: right;
                                // width: 50%;
                                margin-bottom: 0rem;
                            }
                            .QuantityButton, .TotalPricing {
                                background-color: $thirdcolor;
                                height: 2rem;
                                width: 7rem;
                                // width: 50%;
                                // background-color: red;
                                // width: 6rem;
                                border-radius: $SecondaryBorderRadius;
                                display: flex;
                                gap: .5rem;
                                // padding: 0.2rem 0.5rem;
                                place-content: center;

                                
                                

                                #QuantButt{
                                    border: none !important;
                                    text-decoration: none;
                                    outline: none !important;
                                    background-color: $thirdcolor;
                                    padding: 0 !important;
                                    
                                }

                                h6{
                                    place-content: center;
                                  display: flex;
                                  place-items: center;
                                  margin-bottom: 0;
                                  width: 2rem;
                                  
                                }
                            }
                            // .TotalPricing{
                            //         // padding: ;
                            // }


                        }
                    }
                    #QuantityContainer{
                        display: flex;
                        flex-direction: column;
                        
                        gap: 1rem;
                        place-content: center;
                        place-items: center;
                        margin-bottom: 0;
                    
                    .QuantityBox, .PriceBox{
                        width: 15rem;
                        display: flex;
                        place-content: center;
                        place-items: center;
                        gap: 1rem;
                        h6{
                            text-align: right;
                            width: 50%;
                            margin-bottom: 0rem;
                        }
                        .QuantityButton, .TotalPricing {
                            background-color: $thirdcolor;
                            height: 2rem;
                            width: 50%;
                            // background-color: red;
                            // width: 6rem;
                            border-radius: $SecondaryBorderRadius;
                            display: flex;
                            gap: .5rem;
                            // padding: 0.2rem 0.5rem;
                            place-content: center;

                            
                            

                            #QuantButt{
                                border: none !important;
                                text-decoration: none;
                                outline: none !important;
                                background-color: $thirdcolor;
                                padding: 0 !important;
                                
                            }

                            h6{
                                place-content: center;
                              display: flex;
                              place-items: center;
                              margin-bottom: 0;
                              width: 2rem;
                              
                            }
                        }
                        // .TotalPricing{
                        //         // padding: ;
                        // }


                    }
                }
                        
                    }
                    .Delete-Button{
                        display: flex;
                        align-items: center;
                        // margin: 0rem !important ;
                        .DeleteBtn{
                            // visibility: hidden;
                            display: none;
                        }
                    }

                
                }
            }

                 
                }
                



     }





    }


@media screen and (max-width: 900px) {
    .YourCartMainPage{
        margin-top: 5rem;
        font-family: "Montserrat";
        .CartContainer{
            display: flex;
                flex-direction: column;
                gap: 3rem;
                 place-items: center;
                 .CartPageHead{
                    gap: 2rem;
                    .CartPageStatus{
                        gap: 2rem;
                        .CartStatusMain{
                            .CartProgressBar{
                                top: 1.35rem;
                                width: 5rem;
                                height: 0.5rem;
                            }
                        }
    
                        .CartStatus1, .CartStatus2, .CartStatus3{
                            width: 3rem;
                            height: 3rem;
                            svg{
                                width: 1.2rem !important;
                            }
                        }
                        
                    }
    
                    h2{
                        font-size: 1rem;
                        width: 25rem;
                    }
                    .CartPageStatus{
                        display: flex;
                        place-content: center;
                    }
                }
                .YourCart{
                    width: 95%;
                    
                    .CartContent1{
                        .Item-Details{
                            .SubTotal{
                                gap:10rem;
                                width: 26rem;
                                padding: 0.5rem ;
                                h5{
                                    font-size: 1rem;
                                }
            
                                
                            }
                            
                            .Confirmation{
                                gap: 9rem;
                                .BackArrows , .ProceedArrow{
                                    gap: 1rem;
                                    svg{
                                        width: 1.5rem;
                                    }
                                
                                
                                h5{
                                    font-size: 1rem;
                                }
                            }
                            }
            
                    
                            #SubTotal{
                                gap:5.5rem;
                                width: 26rem;
                                
                                .SubtotalUnder{
                                    gap: 1rem;
                                    h5{
                                        font-size: 0.8rem;
                                    }
                                }
                                
                            }
                            #Confirmation{
                                width: 20rem;
                                text-align: center;
                                h5{
                                    font-size: 0.7rem;
                                    font-weight: 700;
                                }
                                }
                        
                        
            
                        .Item1{
                            place-content: center !important;
                            place-items: center !important;
                            width: 26rem;
                            flex-direction:column ;
                            align-items: normal;
                            padding: 1rem !important;
                            gap: 1rem;
            
            
            
                        
                        .ImageBg{
                            margin-left: -1rem;
                            background-color: $secondarycolor;
                            width: 9rem !important;
                            height: 12rem;
                            display: flex;
                            place-content: center;
                            place-items: center;
                            border-radius: $PrimaryBorderRadius;
                            // border-radius: 1.2em;
                            // margin-right: 2rem;
                            img{
                                width: 7rem;
                                height: auto;
                                border-radius: $PrimaryBorderRadius;
                                // border-radius: 1.2em !important;
                            }
            
                        }
                        .Cart-Item-Content{
                            text-align: left;
                            // margin-left: 2rem; 
                            width: 13rem;
                            display: flex;
                            flex-direction: column;
                            // place-content: center !important;
                            // place-items: center;
                            gap: 1rem;
                            margin-left: 0rem;
                            width: 20rem;
            
            
                            .CartDetails{
                                // width: 20rem;
                                place-content: center;
                                h4{
                                    // font-size: 2rem;
                                    font-weight: 700;
                                    text-align: center;
                                }
            
                                p{
                                    font-size: .7rem;
                                    text-align: center;
                                    text-align: justify;
                                    // text-align: ;
                                    // width: 12rem;
                                }
                            }
            
                            .AddMore{
                                border: none;
                                text-align: center;
                                text-decoration: underline;
                                font-weight: 700;
                                background-color: white;
                            }
                            .QuantityContainer{
                                display: flex;
                                
                                gap: 8rem;
                                place-content: center;
                                place-items: center;
                                margin-bottom: 0;
                            
                            .QuantityBox, .PriceBox{
                                width: 6rem;
                                margin-left: 0rem;
                                margin-right: 0rem;
                                
                                
                               
                                
                                
                                .QuantityButton, .TotalPricing {
                                    background-color: $thirdcolor;
                                    height: 2rem;
                                    // background-color: red;
                                    // width: 6rem;
                                    border-radius: $SecondaryBorderRadius;
                                    display: flex;
                                    gap: .5rem;
                                    // padding: 0.2rem 0.5rem;
                                    place-content: center;
            
                                    
                                    
            
                                    #QuantButt{
                                        border: none !important;
                                        text-decoration: none;
                                        outline: none !important;
                                        background-color: $thirdcolor;
                                        padding: 0 !important;
                                        
                                    }
            
                                    h6{
                                        place-content: center;
                                      display: flex;
                                      place-items: center;
                                      margin-bottom: 0;
                                      width: 2rem;
                                      
                                    }
                                }
                                // .TotalPricing{
                                //         // padding: ;
                                // }
            
            
                            }
                        }
            
                            
                        }
                        .Delete-Button{
                            display: flex;
                            flex-direction: column-reverse;
                            align-items: center;
                            margin-left: 0rem;
                            // border-radius: 1rem;
                            svg{
                                display: none;
                                // visibility: hidden;
                                
                            }
                            .DeleteBtn{
                                border-radius: $SecondaryBorderRadius;
                                background-color: $secondarycolor;
                                color: #fff;
                                border: none;
                                width: 20rem ;
                                // padding: ;
                                visibility: visible;
                                // display: ;
                                display: inline ;
                            }
                        }
            
                    
                    }
                }
            
                     
                    }
                    
            
            
            
            }
                    
    
    
    
         }
    
    
    
    
    
        }


    
    
<<<<<<< HEAD
    }
    
 }
=======
}
>>>>>>> FrontendMaster

