// $primarycolor: pink;
$primarycolor: #4BACE0;
$primarycolorShadow : #97ceec ;
// $secondarycolor:red;
$secondarycolor:#2F455C;
// $secondarycolor:#364154;
$thirdcolor:#F5F5F5;
// $thirdcolor:#F1F1F1;

$PrimaryBorderRadius:1.2em;
$SecondaryBorderRadius:0.5em;
