.LandingPageMainComponents{
    position: relative;
    top: -10rem;
    .landingPageContainer{
        .LandingPageImageSec{
            
        background-image: url("./Image//LandingPageImage.png") ;
            background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    background-size: cover;
    padding: 50vh; 
        

        }
        .landing-card{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            .landing-card1 {
              min-height: 300px;  
            }
        }
            

        
        
    }
}