.LandingPageMainComponents{
    position: relative;
    top: -10rem;
    .landingPageContainer{
        .LandingPageImageSec{
            
        background-image: url("./Image//LandingPageImage.png") ;
            background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 95vh;
    // min-height: 80vh;
    background-size: cover;
    // padding: em; 
        

        }
        .landing-card{
            display: flex;
            flex-direction: row;
            // flex-wrap: wrap;
            gap: 1.5rem;
            background-color: transparent;
            margin-top: -80px;
            .landing-card1 {
                width: 500px;
              min-height: 300px;  
              background-color: rgb(255, 255, 255);
              border-radius: 10px;
              box-shadow: 0px 7px 7px gray;
              padding: 1rem;
              .card-Icon {
                // background-color: #ffffff;
                // border-radius: ;
                margin-top: -100px;
                padding: 20px;  
                img {
                    background-color: #ffffff;
                    border-radius: 50%;
                    height: 130px;
                    width: 130px;
                    padding: 3px;
                    
                }
              }
            }
        }
            

        
        
    }
}