@import "../../../../globalcss/global.scss";

.OrderCard1{
                .OrderCard-Inner-Inner{
                    // margin-top: 1rem;
                    display: flex;
                    flex-direction: row;
                    height: 3rem;
                    // gap: 3rem;
                    .Order-Content1, .Order-Content2{
                        display: flex;
                    flex-direction: row;
                }
                .Order-Content1{
                    margin-top: 1rem;

                        gap: 1rem;
                        width: 50%;
                        place-items: center;
                        margin-left: 3rem;
                        // justify-content: right;
                        h4{
                            margin-bottom: 0 !important;
                        }
                    }
                    .Order-Content2{
                    margin-top: 1rem;
                        width: 50%;
                        // display: flex;
                        padding-right: 2rem;
                        gap: 5rem;
                        place-items: center;
                        justify-content: right;
                        h6{
                            color: grey;
                            margin-bottom: 0% !important;
                        }
                        .Nxt-Icon{
                            width: 0.9rem;
                        height: 0.9rem;
                        }
                    }
                    .Bullet-Icon{
                        width: 0.9rem;
                        height: 0.9rem;
                    }
                }

        }