.aboutUsImageSec {
  display: flex;
  flex-direction: row;
  font-family: Montserrat;
  padding: 0rem 5rem 0rem 5rem;
  margin-top: 10rem;
}
.aboutUsImageSec .abt-img {
  width: 80%;
  height: 20%;
  position: relative;
}
.aboutUsImageSec .abt-img img {
  width: 30rem;
  height: 38rem;
  border-radius: 10px;
  box-shadow: 0px 5px 25px 2px rgba(0, 0, 0, 0.32);
}
.aboutUsImageSec .abt-img .about-float-window {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 5px 30px 2px rgba(136, 137, 137, 0.25);
  position: absolute;
  top: 24rem;
  right: 0rem;
  width: 10rem;
  height: 10rem;
  justify-content: baseline;
}
.aboutUsImageSec .abt-img .about-float-window .about-float-window-content {
  color: gray;
  width: 8rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-left: 1rem;
  font-size: 11px;
}
.aboutUsImageSec .abt-img .about-float-window .about-float-icon {
  padding-top: 2rem;
  text-align: center;
  margin-left: 0.8rem;
}
.aboutUsImageSec .abt-img h1 {
  margin-left: 0.5rem;
}
.aboutUsImageSec .abt-img .aboutUsContainer {
  width: 50%;
  height: 50%;
}
.aboutUsImageSec .About-Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0 0 7rem;
}
.aboutUsImageSec .About-Content h1 {
  width: 30rem;
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1rem;
  color: #2F455C;
}
.aboutUsImageSec .About-Content h1 span {
  color: #4bace0;
}
.aboutUsImageSec .About-Content h4 {
  color: #13b8dd;
}
.aboutUsImageSec .About-Content p {
  width: 29rem;
  font-size: 14px;
  margin-bottom: 0px;
}
.aboutUsImageSec .About-Content p span {
  color: rgb(154, 153, 153);
}
.aboutUsImageSec .About-Content .aboutUs-button {
  margin-top: 1rem;
}
.aboutUsImageSec .About-Content .aboutUs-button button {
  position: relative;
  margin: 0;
  padding: 1em 2em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #2F455C;
  border-radius: 1.2em;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.aboutUsImageSec .About-Content .aboutUs-button button:hover {
  -webkit-animation: sh0 0.5s ease-in-out both;
          animation: sh0 0.5s ease-in-out both;
}
@-webkit-keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
.aboutUsImageSec .About-Content .aboutUs-button button:hover span {
  -webkit-animation: storm 0.7s ease-in-out both;
          animation: storm 0.7s ease-in-out both;
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}
.aboutUsImageSec .About-Content .aboutUs-button button::before,
.aboutUsImageSec .About-Content .aboutUs-button button::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}
.aboutUsImageSec .About-Content .aboutUs-button button:hover::before,
.aboutUsImageSec .About-Content .aboutUs-button button:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.aboutUsImageSec .About-Content .aboutUs-button button:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}
.aboutUsImageSec .About-Content .aboutUs-button button:hover::after {
  transform: translate(50%, 0) scale(1.1);
}

@media screen and (max-width: 900px) {
  .aboutUsImageSec {
    flex-direction: column;
    margin-top: 2rem;
  }
  .aboutUsImageSec .abt-img img {
    width: 20rem;
    height: 25rem;
    margin-left: 2rem;
  }
  .aboutUsImageSec .abt-img .about-float-window {
    top: 13rem;
    right: -7rem;
    width: 8rem;
    height: 8rem;
  }
  .aboutUsImageSec .abt-img .about-float-window .about-float-icon {
    padding-top: 0.7rem;
    text-align: center;
    margin-left: 0rem;
  }
  .aboutUsImageSec .abt-img .about-float-window .about-float-window-content {
    width: 8rem;
    padding: 2px;
    text-align: center;
    margin-top: 0.5rem;
    margin-left: 0rem;
    font-size: 11px;
  }
  .aboutUsImageSec .About-Content {
    text-align: center;
    margin: 3rem auto 5rem -4.3rem;
    place-items: center;
  }
  .aboutUsImageSec .About-Content h6 {
    font-size: 1rem;
  }
  .aboutUsImageSec .About-Content h1 {
    text-align: center;
    font-size: 2rem;
    width: 32rem;
  }
  .aboutUsImageSec .About-Content p {
    font-size: 1rem;
    width: 30.5rem;
  }
  .aboutUsImageSec .About-Content .aboutUs-button button {
    font-size: 13px;
  }
}/*# sourceMappingURL=AboutUs.css.map */