.homePageMainContainer{
    width:100%;
    overflow: hidden;

}
Link{
    text-decoration: none !important;
    outline: none !important;
    border: none !important;
}
a{
    text-decoration: none !important;
}