@import "../../../globalcss/global.scss";

.OurValues {
    // background-color: #13b8dd;
    // border: 2px solid red;
    margin: 10rem 0rem;
    .ValuesHead {
      display: flex;
      flex-direction: column;
      place-items: center;
      text-align: center;
      h1 {
        font-size: 2rem;
        font-weight: 700;
        width: 25rem;
      }
      h6 {
        font-weight: 500;
        width: 10rem;
      }
    }
    .ValuesBody {
      margin-top: 4rem;
      display: grid;
      grid-template-columns: 20rem 20rem 20rem;
      gap: 10.4rem;
      .Value1 {
        position: relative;
        width: 20rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        place-items: center;
        text-align: center;
        .ValueSVG {
          background-color: $secondarycolor !important;
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          display: flex;
          place-items: center;
          place-content: center;
          svg {
            width: 2rem;
            height: 2rem;
          }
        }
        .ValueContent {
          h3 {
            font-weight: 700;
          }
          p {
            font-size: 0.9rem;
          }
        }
      }
    }
  }


  @media screen and (max-width: 900px) {
    
      
    
    .OurValues {
      margin: 10rem 0rem;
      margin-top: 5rem;
      .ValuesHead {
        display: flex;
        flex-direction: column;
        place-items: center;
        text-align: center;
        h1 {
          font-size: 1.5rem;
          font-weight: 700;
          width: 20rem;
        }
        h6 {
          font-size: 0.7rem;
          font-weight: 700;
          width: 10rem;
        }
      }
      .ValuesBody {
        .Value1 {
          width: 20rem;
        }
      }
    }
    
    
}