.NavigationBarMainContainer {
  display: flex;
  position: relative;

  z-index: 1;
  .NavigationBarImage {
    padding: 1em;
    background-color: rgba(34, 37, 28, 0.75);
  }
  flex-direction: column;
  .navbar-class {
    background-color: rgba(34, 37, 28, 0.6) !important;
    ul {
      gap: 3rem;
      .nav-item {
        a {
          color: aliceblue !important;
          font-size: large;
        }
      }
    }
  }
  .NavigationBarImage {
    z-index: 1 !important;
    img {
      width: 20%;
      height: 100% !important;
      padding: 0rem 0;
    }
  }
  .navbar {
    width: 100%;
    // background-color: rgba(34,37,28,0.75);
  }
}
.navbar-nav {
  justify-content: center !important;
  width: 100%;
  gap: 2rem;
}
// nav {
//     background-color: rgba(34,37,28,0.75);
// }
