@import "../../../globalcss/global.scss";

.About-Fotu {
    display: flex;
    place-content: center;
    .abt-img {
      width: 43%;
      height: 20%;
      position: relative;
      .AboutImgBackShadow{
        height: 38rem;
        width: 30rem;
        transform: rotate(10deg);
        z-index: -1;
        border-radius: $PrimaryBorderRadius;
        background-color: $thirdcolor;
        position: absolute;
        top: -2.5rem;
        left: 3.5rem;
      }
      img {
        width: 30rem;
        height: 38rem;
        border-radius: 10px;
        box-shadow: 0px 5px 25px 2px rgba(0, 0, 0, 0.32);
      }
      .about-float-window {
        background-color: rgb(255, 255, 255);
        border-radius: $SecondaryBorderRadius;
        box-shadow: 0px 5px 30px 2px rgba(136, 137, 137, 0.25);
        display: flex;
        gap: 1rem;
        place-content: center;
        place-items: center;
        position: absolute;
        top: 24rem;
        right: -20rem;
        width: 20rem;
        height: 5rem;
        // justify-content: baseline;
        .about-float-window-content {
          // color: gray;
          // width: 12rem;
          // text-align: left;
          // margin-top: 0.5rem;
          // margin-left: 1rem;
          // font-size: 11px;
          // display: flex;
          // place-content: center ;
          // place-items: center;
          // p{
          //   margin-bottom: 0rem;
          //   // width: 12rem;
          // }
          display: flex;
          flex-direction: column; 
          text-align: left;
          // place-content: center;
          // place-items: center;
          
          padding-top: 1rem;
          padding-bottom: 0rem !important;
          p {
            padding-bottom: 0rem !important;
            font-size: 0.8rem;
            width: 12rem;
          }
          h5{
            font-weight: 700;
            margin-bottom: 0rem;
          }
        }
        .about-float-icon {
          // padding-top: 2rem;
          // text-align: center;
          // margin-left: 0.8rem;
          display: flex;
          place-content: center;
          place-items: center;
          
        }
      }
      .About-Float-2 {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0px 5px 30px 2px rgba(136, 137, 137, 0.25);
        position: absolute;
        // padding: 50px;
        top: 3rem;
        // right: 20rem;
        left: -25rem;
        width: 20rem;
        height: 5rem;
        place-content: center;
        place-items: center;
        .about-float-icon2 {
          svg {
            width: 3rem;
            height: 3rem;
          }
        }
        .about-float-window-content2 {
          display: flex;
          flex-direction: column;
          margin-bottom: 0rem;
          // place-content: center;
          // place-items: center;
          padding-top: 1rem;
          text-align: left;
          padding-bottom: 0px !important;
          h5{
            font-weight: 700;
            margin-bottom: 0rem;
          }
          p {
            padding-bottom: 0rem !important;
            font-size: 0.8rem;
            width: 12rem;
          }
        }
      }
      h1 {
        margin-left: 0.5rem;
      }

      .aboutUsContainer {
        width: 50%;
        height: 50%;
      }
    }
  }



  @media screen and (max-width: 900px) {
    
      .About-Fotu {
        display: flex;
        place-content: center;
        .abt-img {
          width: 25rem;
          height: 25rem;
          margin-left: 2rem;
          .AboutImgBackShadow{
            height: 25rem;
            width: 20rem;
            top: -1.5rem;
            left: 4.25rem;
          }

          img {
            width: 20rem;
            height: 25rem;
          }
          .about-float-window {
            flex-direction: column;
            padding: 0rem;
            gap: 0rem;
            top: 18rem !important;
            right: -30rem;
            width: 10rem !important;
            height: 7rem !important;
            .about-float-window-content {
              margin: 0rem !important;
              text-align: center;
              width: 10rem !important;
             p {
                padding-bottom: 0rem !important;
                font-size: 0.8rem;
                width: auto;
              }
              h5{
                font-size: 1rem !important;
                
              }
            }
            .about-float-icon {
              margin: 0rem !important;
              padding-top: 0rem !important;
              svg{
                width: 2rem !important;
                height: 2rem !important;
              }
              
            }
          }
          .About-Float-2 {
            flex-direction: column !important;
            top: 2rem !important;
            gap: 0rem !important;
            left: -4rem;
            width: 10rem !important;
            height: 7rem !important;
            .about-float-icon2 {
              svg {
                width: 2rem !important;
                height: 2rem !important;
              }
            }
            .about-float-window-content2 {
              // margin-top: 0rem !important;
              text-align: center !important;
              h5{
                width: 100%;
                font-size: 1rem;
              }
              p {
                padding-bottom: 0rem !important;
                font-size: 0.8rem;
                width: 12rem;
              }
            }
          }
          h1 {
            margin-left: 0.5rem;
          }
  
          .aboutUsContainer {
            width: 50%;
            height: 50%;
          }
        }
      }
    }