@import "../../../globalcss/global.scss";

.ProductNavigation{
    margin-top: 0rem;

    background-color: $secondarycolor;
    display: flex;
    gap: 5rem;
    padding: 1.5rem;
    place-content: center;
    a{
        &:hover{
        font-size: 2rem !important;
        }
        font-size: 1rem !important;
        cursor: pointer;
        h6{
            color: #fff !important;

        }
    }
}


@media screen and (max-width:900px) {
    .ProductNavigation{
        gap: 3rem;
        a{
            h6{

                font-size: 0.8rem !important;
            }
        }
    }
}