@import "../../../../globalcss/global.scss";

.MissionVission{
    display: flex;
    flex-direction: row;
    gap: 0rem;
    background-color: $secondarycolor;
    // border: 2px solid red;
    padding: 0rem;
    border-radius: 1.5rem !important;
    // border: 5px solid red;

    .MissionVissionButton{
        
        display: flex;
        flex-direction: column;
        background-color: $thirdcolor;
        // border-radius: $SecondaryBorderRadius 0rem 0rem $SecondaryBorderRadius;
        border-radius: 1.5rem 0rem 0rem 1.5rem;
        // gap: 1rem ;
        #MissionBoxHeadColor{
            background-color: $secondarycolor ;
            // border-radius: $SecondaryBorderRadius 0rem 0rem $SecondaryBorderRadius;
            border-radius: 1.5rem 0rem 0rem 1.5rem;
            button{
                font-weight: 700;
                font-size: 1.5rem;
                color: #fff;
                h6{
                    font-weight: 700;
                }
            }
        }
        
        .MissionBoxHead, .VissionBoxHead{
                background-color: $thirdcolor;
                // border-radius: $SecondaryBorderRadius 0rem 0rem $SecondaryBorderRadius;
                border-radius: 1.5rem 0rem 0rem 1.5rem;
                width: 18rem;
                height: 12.5rem;
                display: flex;
                place-content: center;
                place-items: center;
                // pointer-events:visible;
                cursor:pointer ;
                button{
                    background-color: transparent;
                    border: none;
                    font-size: 1.5rem;
                    text-align: left;
                color: $secondarycolor;
                    outline: none;
                    h6{
                        color: $primarycolor;
                        margin-bottom: 0rem;
                        text-align: left;
                        // font-weight: 700;
                    }
                }
        }
    }
    .MissionVissionBox{
        padding: 3rem;
    }
}


@media screen and (max-width:900px) {
    .MissionVission{
        flex-direction: column;
        gap: 0rem;
        background-color: $secondarycolor !important;
        // border: 2px solid red;
        padding: 0rem;
        
        // border: 5px solid red;
    
        .MissionVissionButton{
            
            display: flex;
            flex-direction: row;
            background-color: $thirdcolor;
            // border-radius: $SecondaryBorderRadius 0rem 0rem $SecondaryBorderRadius;
            border-radius: 1.5rem 1.5rem 0rem 0rem !important;
            // gap: 1rem ;
            #MissionBoxHeadColor{
                background-color: $secondarycolor ;
                // border-radius: $SecondaryBorderRadius 0rem 0rem $SecondaryBorderRadius;
                border-radius: 1.5rem 1.5rem 0rem 0rem !important;
                button{
                    font-weight: 700;
                    color: #fff;
    
                }
            }
            
            .MissionBoxHead, .VissionBoxHead{
                    background-color: $thirdcolor;
                    // border-radius: $SecondaryBorderRadius 0rem 0rem $SecondaryBorderRadius;
                    border-radius: 1.5rem 0rem 0rem 1.5rem;
                    width: 50%;
                    height: 5rem;
                    display: flex;
                    place-content: center;
                    place-items: center;
                    // pointer-events:visible;
                    cursor:pointer ;
                    button{
                        background-color: transparent;
                        border: none;
                        
                    color: $secondarycolor;
                        outline: none;
                    }
            }
        }
        .MissionVissionBox{
            padding: 3rem;
        }
    }
}