.Testimonial-Main {
    padding: 50px;
    color: #364154;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15vh auto 15vh auto;
    font-family: 'Montserrat';
    .Testimonial-heading {
      width: 50rem;
      .Testimonial-Topic {
        color: #4bace0;
        font-size: 18px;
        font-weight: 500;
      }
      .Testimonial-head {
        width: 35rem;
        font-size: 3.5rem;
        // font-family: 'Montserrat';
        font-weight: 700;
        line-height: 1.2;
        span {
          color: #4bace0;
        }
      }
    }
    .Client-1 {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      background-color: #fff;
      // padding-top: 20px !important;
      padding: 20px;
      width: 21rem;
      height: 22rem;
      border-radius: 1.2rem;
      box-shadow: 0px 5px 30px 2px rgba(136, 137, 137, 0.25);
      text-align: center;
      align-items: center;
      justify-items: center;
        .Client-Img{
          img{
            // border: 2px solid red;
            border-radius: 50%;
            width: 80px;
            height: 80px;
          }
        }
        .Client-Name{
          h3{
            text-align: center;
          font-size: 1.7rem;
          font-weight: 700;
        }
        }
        .Client-Rate {
          margin-top: -0.8rem;
          svg{
            // width: 2rem;
            // height: 2rem;
          }
        }
        .Client-Words{
          margin-top: 1rem;
          p{
            width: 18rem;
            text-align: center;
            font-size: 0.9rem;
          }
        }
    }
  }
  
  // @media screen and (max-width: 900px) {
  
  // }
  
  @media screen and (max-width: 900px) {
    .Testimonial-Main {
      flex-direction: column;
      // padding-right: -50rem;
      // margin: 20vh 0px 30vh 0px;
      .Testimonial-heading {
          text-align: center;
          padding-bottom: 2rem;
          .Testimonial-head {
          min-width: 100%;
          margin-right: 0em !important;
          font-size: 2rem !important;
          font-weight: 700;
        }
        .Testimonial-Topic{
          // padding-left: 2.3rem;
        }
        .Client-1 {
          margin-top: 10rem !important;
          width: 20rem;
          height: 25rem;
        }
      }
    }
  }
  