.Testimonial-Main {
    // position: absolute;
    // top: -8rem;
    // min-width: 75vw;
    // min-height: 35vh;
    // background-color: aqua;
    padding: 50px;
    color: #364154;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // gap: 0rem !important;
    margin: 20vh auto 30vh auto;
    // border-radius: 1.2em;
    // box-shadow: 0px 5px 30px 2px rgba(136, 137, 137, 0.25);
    .Testimonial-heading {
      width: 50rem;
      .Testimonial-Topic {
        color: #4bace0;
        font-size: 18px;
  
        // font-family: 'Montserrat';
        font-weight: 500;
      }
      .Testimonial-head {
        width: 30rem;
        font-size: 3.5rem;
        // font-family: 'Montserrat';
        font-weight: 700;
        line-height: 1.2;
        span {
          color: #4bace0;
        }
      }
    }
    .Client-1 {
      background-color: #fff;
      padding: 30px;
      // width: 20vw;
      // height: 45vh;
      width: 21rem;
      height: 22rem;
      border-radius: 1.2rem;
      box-shadow: 0px 5px 30px 2px rgba(136, 137, 137, 0.25);
    }
  }
  
  // @media screen and (max-width: 900px) {
  
  // }
  
  @media screen and (max-width: 900px) {
    .Testimonial-Main {
      flex-direction: column;
      // padding-right: -50rem;
      // margin: 20vh 0px 30vh 0px;
      .Testimonial-heading {
          text-align: center;
          padding-bottom: 2rem;
          .Testimonial-head {
          min-width: 100%;
          margin-right: 0em !important;
          font-size: 2rem !important;
          font-weight: 700;
        }
        .Testimonial-Topic{
          // padding-left: 2.3rem;
        }
        .Client-1 {
          margin-top: 10rem !important;
          width: 20rem;
          height: 25rem;
        }
      }
    }
  }
  