@import "../../globalcss/global.scss";

* {
    // background-color: aqua;
    font-family: "Montserrat";
}

.ProductPageMain{
    margin-top: 5rem;
    margin-bottom: 25rem;
    .ProductPageHead{
        margin-bottom: 15rem;
        .PageHeadContent{
            display: flex;
            flex-direction: column;
            text-align: center;
            display: flex;
            // place-content: center;
            place-items: center ;
            h1{
                color: $secondarycolor;
                font-size: 3.5rem;
                font-weight: 700;
                width: 60rem;
            }
            p{
                width: 35rem;
            }
        }
        .PageHeadCards{
            margin: 5rem auto;
            display: grid;
            gap: 0rem;
            grid-template-columns: 20rem 20rem 20rem 20rem;
            margin-left: 2rem;
            // place-content: center;
            .PageCards{
                position: relative;
                .PageSubCard1{
                background-color: #fff;
                border-radius: 1.2em;
                box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.25);
                padding: 1.5rem;
                width: 15rem;
                transform: rotate(5deg);
                position: relative;
                top: 0.6rem;
                left: -0.75rem;
                h3{
                    font-size: 1.2rem;
                    width: 10rem;
                }
                p{
                    width: 10rem;
                    font-size: 0.7rem;
                }
                .ProgressBar{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    .ProgressBarContent{
                            display: flex;
                            flex-direction: row;
                            gap: 2.5rem;
                            text-align: center;
                            place-items: center;
                        .BarProgress{
    
                            display: flex;
                            flex-direction: row;
                            gap: 1rem;
                            text-align: center;
                            place-items: center;
                            svg{
                                width: 1.5rem;
                                height: 1.5rem;
                            }
                            h4{
                                margin-top: 0.5rem;
                                font-size: 1rem;
                            }
                        }
                        h6{
                            font-size: 0.7rem;
                            display: flex;
                            place-content: center;
                            place-items: center;
                            margin-top: 0.5rem;
                        }
    
                    }
                    .BarBar {
                        width: 100%;
                        height: 0.6rem;
                        background-color: #2F455C;
                        border-radius: 1.2em;
                    }
                }
            }
            #Subcard2 {
                transform: rotate(-5deg);
                position: relative;
                left: 0.85rem !important;
            }
            #Subcard4 {
                transform: rotate(-5deg);
                position: relative;
                left: -0.65rem !important;
            }
            #Subcard3{
                transform: rotate(7deg);
                position: relative;
                left: 0.8rem !important;
            }
            .CardBackShadow{
                position: absolute;
                top: 0rem;
                left: 0rem;
                z-index: -1;
                border-radius: 1.2em;
                width: 15rem;
                height: 15rem;
                background-color: #F4F4F4;
            }
        }
        #PageCard2{
            position: relative;
            top: 10rem;
        }
        #PageCard4{
            position: relative;
            top: 10rem;
        }
        }
    }
    // .ProductNavigation{
    //     margin-top: 15rem;
    //     background-color: #2F455C;
    //     color: #fff;
    //     display: flex;
    //     gap: 5rem;
    //     padding: 1.5rem;
    //     place-content: center;
    // }
}
    // .ProductCards{
    //     .SingleCards{
    //         margin-top: 3rem;
    //         background-color: #2F455C;
    //         border-radius: 1.2em;
    //         width: 25rem;
    //         height: 18.5rem;
    //         padding: 25px;
    //         color: #fff;
    //         .CardHead{
    //             display: flex;
    //             gap: 6rem;
    //             flex-direction: row;
    //             place-items: center;

            
    //         .ProductSubHead{
    //             display: flex;
    //             flex-direction: row;
    //             gap: 1rem;
    //             place-items: center;
    //             color: #fff;
    //         }
    //         .ProductSVG{
    //             background-color: #fff;
    //             width: 4rem;
    //             height: 4rem;
    //             border-radius: 50%;
    //             display: flex;
    //             place-content: center;
    //             place-items: center;
    //             svg{
    //                 width: 2rem;
    //                 height: 2rem;
    //             }
    //         }
    //     }
    //     .CardBody{
    //         margin: 1.5rem 0rem;
    //     }
    //     .CardBase{
    //         display: flex;
    //         gap: 7rem;
    //         place-items: center;
    //         margin-bottom: 1rem;
    //         .BaseButton {
    //             color: #2F455C;
    //             font-weight: 700;
    //             font-size: 0.8rem !important;
    //             width: 10rem;
    //             height: 2.5rem;
    //             display: flex;
    //             place-content: center;
    //             place-items: center;
    //             background-color: #fff;
    //             border-radius: 1.2em;
    //         }
    //                     .AddToCartButton {
    //                         .icon-btn {
    //                             // width: 2.5rem;
    //                             // height: 2.5rem;
    //                             width: 50px;
    //                             height: 50px;
    //                             border: 1px solid #cdcdcd;
    //                             background: white;
    //                             border-radius: 25px;
    //                             overflow: hidden;
    //                             position: relative;
    //                             transition: width 0.2s ease-in-out;
    //                             font-weight: 500;
    //                             font-family: inherit;
    //                         }
            
    //                         .add-btn:hover {
    //                             width: 8rem;
    //                         }
            
    //                         .add-btn::before,
    //                         .add-btn::after {
    //                             transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    //                             content: "";
    //                             position: absolute;
    //                             height: 4px;
    //                             width: 10px;
    //                             top: calc(50% - 2px);
    //                             background: #4BACE0 ;
    //                         }
            
    //                         .add-btn::after {
    //                             right: 14px;
    //                             overflow: hidden;
    //                             border-top-right-radius: 2px;
    //                             border-bottom-right-radius: 2px;
    //                         }
            
    //                         .add-btn::before {
    //                             left: 14px;
    //                             border-top-left-radius: 2px;
    //                             border-bottom-left-radius: 2px;
    //                         }
            
    //                         .icon-btn:focus {
    //                             outline: none;
    //                         }
            
    //                         .btn-txt {
    //                             opacity: 0;
    //                             font-size: 0.8rem !important;
    //                             // padding: 4px !important;
    //                             margin: 0px 5px !important;
    //                             transition: opacity 0.2s;
    //                         }
            
    //                         .add-btn:hover::before,
    //                         .add-btn:hover::after {
    //                             width: 4px;
    //                             border-radius: 2px;
    //                         }
            
    //                         .add-btn:hover .btn-txt {
    //                             opacity: 1;
    //                         }
            
    //                         .add-icon::after,
    //                         .add-icon::before {
    //                             transition: all 0.2s ease-in-out;
    //                             content: "";
    //                             position: absolute;
    //                             height: 20px;
    //                             width: 2px;
    //                             top: calc(50% - 10px);
    //                             background: #4BACE0;
    //                             overflow: hidden;
    //                         }
            
    //                         .add-icon::before {
    //                             left: 22px;
    //                             border-top-left-radius: 2px;
    //                             border-bottom-left-radius: 2px;
    //                         }
            
    //                         .add-icon::after {
    //                             right: 22px;
    //                             border-top-right-radius: 2px;
    //                             border-bottom-right-radius: 2px;
    //                         }
            
    //                         .add-btn:hover .add-icon::before {
    //                             left: 15px;
    //                             height: 4px;
    //                             top: calc(50% - 2px);
    //                         }
            
    //                         .add-btn:hover .add-icon::after {
    //                             right: 15px;
    //                             height: 4px;
    //                             top: calc(50% - 2px);
    //                         }
    //                     }
    //     }
    //     }
    //     #WhiteBase{
    //         background-color: #fff;
            
    //     }
    //     #WhiteBaseTextColor {
    //         color: $secondarycolor !important; 
    //         // border: 5px solid red;
    //         // background-color: #4BACE0;

    //     }
    //     #buttonId{
    //         background-color: $secondarycolor !important;
    //         color: #fff;
    //         border: 5px solid red;
    //     }
    // }

    @media screen and (max-width:900px) {
        .ProductPageMain{
            .ProductPageHead{
                margin-bottom: 15rem;
                .PageHeadContent{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    display: flex;
                    // place-content: center;
                    place-items: center ;
                    h1{
                        font-size: 1.8rem;
                        font-weight: 700;
                        width: 30rem;
                    }
                    p{
                        font-size: 0.6rem;
                        width: 22rem;
                    }
                }
                .PageHeadCards{
                    margin: 5rem auto;
                    
                    display: grid;
                    row-gap: 10rem;
                    column-gap: 1rem;
                    grid-template-columns: 14rem 14rem ;
                    margin-left: 2.5rem;
                    // place-content: center;
                    .PageCards{
                        position: relative;
                        .PageSubCard1{
                        padding: 1.5rem;
                        width: 12rem;
                        transform: rotate(5deg);
                        position: relative;
                        top: 0.6rem;
                        left: -0.75rem;
                        h3{
                            font-size: 1rem;
                            width: 100%;
                        }
                        p{
                            width: 100%;
                            font-size: 0.5rem;
                        }
                        .ProgressBar{
                            gap: 0.2rem;
                            .ProgressBarContent{
                                    display: flex;
                                    flex-direction: row;
                                    gap: 3.4rem;
                                    text-align: center;
                                    place-items: center;
                                .BarProgress{
            
                                    display: flex;
                                    flex-direction: row;
                                    gap: 0.3rem;
                                    text-align: center;
                                    place-items: center;
                                    svg{
                                        width: 0.8rem;
                                        height: 0.8rem;
                                    }
                                    h4{
                                        margin-top: 0.5rem;
                                        font-size: 0.7rem;
                                    }
                                }
                                h6{
                                    font-size: 0.5rem;
                                    display: flex;
                                    place-content: center;
                                    place-items: center;
                                    margin-top: 0.5rem;
                                }
            
                            }
                            // .BarBar {
                            //     // width: 100%;
                            //     // height: 0.6rem;
                            //     // background-color: #2F455C;
                            //     // border-radius: 1.2em;
                            // }
                        }
                    }
                    // .PageSubCard1{
                    //     // visibility: hidden;
                    // }
                    #Subcard2 {
                        position: relative;
                        left: 0.85rem !important;
                        position: relative;
                    }
                    #Subcard4 {
                        // position: relative;
                        // left: -0.65rem !important;
                        
                        position: relative;
                        left: 0.8rem !important;
                    }
                    #Subcard3{
                        // position: relative;
                        // left: 0.8rem !important;
                        
                        position: relative;
                        left: -0.65rem !important;
                    }
                    .CardBackShadow{
                        position: absolute;
                        top: 0rem;
                        left: 0rem;
                        z-index: -1;
                        border-radius: 1.2em;
                        width: 12rem;
                        height: 11rem;
                        background-color: #F4F4F4;
                    }
                }
                #PageCard2{
                    position: relative;
                    top: 10rem;
                }
                #PageCard4{
                    position: relative;
                    top: 10rem;
                }
                }
            }
            
        }
    }


    @media screen and (max-width:900px) {
        .container{
            // margin-left: 2rem ;
            display: flex;
            flex-direction: column;
            place-items: center;
        h1{
            font-size: 1.4rem;
            }
        .ProductCards {
        display: grid;
        grid-template-columns: 25rem !important;
        row-gap: 0rem !important;
            margin-top: 1rem;
            place-items: center;
        .SingleCards{
            display: flex;
            flex-direction: column;
            margin-top: 1rem !important;
            width: 20rem !important;
            height: 15rem !important;
            
            .CardHead{
             h5{
                font-size: 4rem;
                margin-bottom: 0rem !important;
                margin-left: -3rem;
             }   
            
            .ProductSubHead{
                gap: 1rem !important;
               
                h3{
                    font-size: 1.2rem !important;
                    margin-bottom: 0rem !important;
                    margin-left: 0rem;
                }
            }
            .ProductSVG{
                width: 2.5rem;
                height: 2.5rem;
                svg{
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
        .CardBody{
            margin: 1rem 0rem;
            margin-top: .7rem !important;
            p{
                color:$secondarycolor;
                font-size: 0.8rem !important;
            }
        }
        .CardBase{
            gap: 7rem;
            margin-top:-.9rem;
            .BaseButton {
                font-size: 0.8rem !important;
                width: 6rem !important;
                height: 2rem !important;
                margin-top:0rem;
                p{
                    font-size: .7rem !important;
                    margin-top: -1rem !important;
                    
                }
            }
                        
        }
        .CardBase:hover{
            .BaseButton {
                height: 1.8rem;
            }
        }
        .AddToCartButton {
            .icon-btn {
                width: 30px !important;
                height: 30px !important;
                // overflow: visible !important;
            }
            

            .add-btn:hover {
                width: 6rem !important;
                
                .btn-txt{
                    p{
                        margin-top: 0.4rem;
                        font-size: 0.5rem;
                    }
                }
            }

            .add-btn::before,
            .add-btn::after {
                
                top: 12px !important;
                height: 3px !important;
                width: 8px !important;
            }

            .add-btn::after {
                right: 7px !important;
            }

            .add-btn::before {
                left: 7px !important;
            }

            .btn-txt {
                font-size: 0.8rem !important;
                // padding: 4px !important;
                margin: 0px 5px !important;
                
            }

            .add-btn:hover::before,
            .add-btn:hover::after {
                width: 4px !important;
            }

            

            .add-icon::after,
            .add-icon::before {
                top: 6px !important;
                height: 15px !important;
                width: 2px !important;
                
            }
            .add-icon::after{
                right: 13.5px !important;
            }
            .add-icon::before{
                left: 13.5px !important;
                // right: 15px !important;
                // right: 20px !important;
            }

            

            

            
        }    
    }
        
       
    }
    }
    }