* {
  font-family: "Montserrat";
}

.ProductPageMain {
  margin-top: 5rem;
  margin-bottom: 25rem;
}
.ProductPageMain .ProductPageHead {
  margin-bottom: 15rem;
}
.ProductPageMain .ProductPageHead .PageHeadContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  display: flex;
  place-items: center;
}
.ProductPageMain .ProductPageHead .PageHeadContent h1 {
  color: #2F455C;
  font-size: 3.5rem;
  font-weight: 700;
  width: 60rem;
}
.ProductPageMain .ProductPageHead .PageHeadContent p {
  width: 35rem;
}
.ProductPageMain .ProductPageHead .PageHeadCards {
  position: relative;
  margin: 5rem auto;
  display: grid;
  gap: 0rem;
  grid-template-columns: 20rem 20rem 20rem 20rem;
  margin-left: 2rem;
}
.ProductPageMain .ProductPageHead .PageHeadCards .PageCards-Line {
  position: absolute;
}
.ProductPageMain .ProductPageHead .PageHeadCards .PageCards-Line svg {
  position: relative;
  top: 2rem;
  left: -0.5rem;
  opacity: 25%;
  transform: rotate(2.5deg);
}
.ProductPageMain .ProductPageHead .PageHeadCards .PageCards {
  position: relative;
}
.ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 {
  background-color: #fff;
  border-radius: 1.2em;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  width: 15rem;
  transform: rotate(5deg);
  position: relative;
  top: 0.6rem;
  left: -0.75rem;
}
.ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 h3 {
  font-size: 1rem;
  width: 12rem;
}
.ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 p {
  width: 12rem;
  font-size: 0.7rem;
}
.ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 .ProgressBar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 .ProgressBar .ProgressBarContent {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  text-align: center;
  place-items: center;
}
.ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 .ProgressBar .ProgressBarContent .BarProgress {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center;
  place-items: center;
}
.ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 .ProgressBar .ProgressBarContent .BarProgress svg {
  width: 1.5rem;
  height: 1.5rem;
}
.ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 .ProgressBar .ProgressBarContent .BarProgress h4 {
  margin-top: 0.5rem;
  font-size: 1rem;
}
.ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 .ProgressBar .ProgressBarContent h6 {
  font-size: 0.7rem;
  display: flex;
  place-content: center;
  place-items: center;
  margin-top: 0.5rem;
}
.ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 .ProgressBar .BarBar {
  width: 100%;
  height: 0.6rem;
  background-color: #2F455C;
  border-radius: 1.2em;
}
.ProductPageMain .ProductPageHead .PageHeadCards .PageCards #Subcard2 {
  transform: rotate(-5deg);
  position: relative;
  left: 0.85rem !important;
}
.ProductPageMain .ProductPageHead .PageHeadCards .PageCards #Subcard4 {
  transform: rotate(-5deg);
  position: relative;
  left: -0.65rem !important;
}
.ProductPageMain .ProductPageHead .PageHeadCards .PageCards #Subcard3 {
  transform: rotate(7deg);
  position: relative;
  left: 0.8rem !important;
}
.ProductPageMain .ProductPageHead .PageHeadCards .PageCards .CardBackShadow {
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: -1;
  border-radius: 1.2em;
  width: 15rem;
  height: 15rem;
  background-color: #F4F4F4;
}
.ProductPageMain .ProductPageHead .PageHeadCards #PageCard2 {
  position: relative;
  top: 10rem;
}
.ProductPageMain .ProductPageHead .PageHeadCards #PageCard4 {
  position: relative;
  top: 10rem;
}

@media screen and (max-width: 900px) {
  .ProductPageMain .ProductPageHead {
    margin-bottom: 15rem;
  }
  .ProductPageMain .ProductPageHead .PageHeadContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    place-items: center;
  }
  .ProductPageMain .ProductPageHead .PageHeadContent h1 {
    font-size: 1.8rem;
    font-weight: 700;
    width: 30rem;
  }
  .ProductPageMain .ProductPageHead .PageHeadContent p {
    font-size: 0.6rem;
    width: 22rem;
  }
  .ProductPageMain .ProductPageHead .PageHeadCards {
    margin: 5rem auto;
    display: grid;
    row-gap: 10rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    grid-template-columns: 14rem 14rem;
    margin-left: 2.5rem;
  }
  .ProductPageMain .ProductPageHead .PageHeadCards .PageCards {
    position: relative;
  }
  .ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 {
    padding: 1.5rem;
    width: 12rem;
    transform: rotate(5deg);
    position: relative;
    top: 0.6rem;
    left: -0.75rem;
  }
  .ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 h3 {
    font-size: 1rem;
    width: 100%;
  }
  .ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 p {
    width: 100%;
    font-size: 0.5rem;
  }
  .ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 .ProgressBar {
    gap: 0.2rem;
  }
  .ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 .ProgressBar .ProgressBarContent {
    display: flex;
    flex-direction: row;
    gap: 3.4rem;
    text-align: center;
    place-items: center;
  }
  .ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 .ProgressBar .ProgressBarContent .BarProgress {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    text-align: center;
    place-items: center;
  }
  .ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 .ProgressBar .ProgressBarContent .BarProgress svg {
    width: 0.8rem;
    height: 0.8rem;
  }
  .ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 .ProgressBar .ProgressBarContent .BarProgress h4 {
    margin-top: 0.5rem;
    font-size: 0.7rem;
  }
  .ProductPageMain .ProductPageHead .PageHeadCards .PageCards .PageSubCard1 .ProgressBar .ProgressBarContent h6 {
    font-size: 0.5rem;
    display: flex;
    place-content: center;
    place-items: center;
    margin-top: 0.5rem;
  }
  .ProductPageMain .ProductPageHead .PageHeadCards .PageCards #Subcard2 {
    position: relative;
    left: 0.85rem !important;
    position: relative;
  }
  .ProductPageMain .ProductPageHead .PageHeadCards .PageCards #Subcard4 {
    position: relative;
    left: 0.8rem !important;
  }
  .ProductPageMain .ProductPageHead .PageHeadCards .PageCards #Subcard3 {
    position: relative;
    left: -0.65rem !important;
  }
  .ProductPageMain .ProductPageHead .PageHeadCards .PageCards .CardBackShadow {
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: -1;
    border-radius: 1.2em;
    width: 12rem;
    height: 11rem;
    background-color: #F4F4F4;
  }
  .ProductPageMain .ProductPageHead .PageHeadCards #PageCard2 {
    position: relative;
    top: 10rem;
  }
  .ProductPageMain .ProductPageHead .PageHeadCards #PageCard4 {
    position: relative;
    top: 10rem;
  }
}
@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  .container h1 {
    font-size: 1.4rem;
  }
  .container .ProductCards {
    display: grid;
    grid-template-columns: 25rem !important;
    row-gap: 0rem !important;
    margin-top: 1rem;
    place-items: center;
  }
  .container .ProductCards .SingleCards {
    display: flex;
    flex-direction: column;
    margin-top: 1rem !important;
    width: 20rem !important;
    height: 15rem !important;
  }
  .container .ProductCards .SingleCards .CardHead h5 {
    font-size: 4rem;
    margin-bottom: 0rem !important;
    margin-left: -3rem;
  }
  .container .ProductCards .SingleCards .CardHead .ProductSubHead {
    gap: 1rem !important;
  }
  .container .ProductCards .SingleCards .CardHead .ProductSubHead h3 {
    font-size: 1.2rem !important;
    margin-bottom: 0rem !important;
    margin-left: 0rem;
  }
  .container .ProductCards .SingleCards .CardHead .ProductSVG {
    width: 2.5rem;
    height: 2.5rem;
  }
  .container .ProductCards .SingleCards .CardHead .ProductSVG svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .container .ProductCards .SingleCards .CardBody {
    margin: 1rem 0rem;
    margin-top: 0.7rem !important;
  }
  .container .ProductCards .SingleCards .CardBody p {
    color: #2F455C;
    font-size: 0.8rem !important;
  }
  .container .ProductCards .SingleCards .CardBase {
    gap: 7rem;
    margin-top: -0.9rem;
  }
  .container .ProductCards .SingleCards .CardBase .BaseButton {
    font-size: 0.8rem !important;
    width: 6rem !important;
    height: 2rem !important;
    margin-top: 0rem;
  }
  .container .ProductCards .SingleCards .CardBase .BaseButton p {
    font-size: 0.7rem !important;
    margin-top: -1rem !important;
  }
  .container .ProductCards .SingleCards .CardBase:hover .BaseButton {
    height: 1.8rem;
  }
  .container .ProductCards .SingleCards .AddToCartButton .icon-btn {
    width: 30px !important;
    height: 30px !important;
  }
  .container .ProductCards .SingleCards .AddToCartButton .add-btn:hover {
    width: 6rem !important;
  }
  .container .ProductCards .SingleCards .AddToCartButton .add-btn:hover .btn-txt p {
    margin-top: 0.4rem;
    font-size: 0.5rem;
  }
  .container .ProductCards .SingleCards .AddToCartButton .add-btn::before,
  .container .ProductCards .SingleCards .AddToCartButton .add-btn::after {
    top: 12px !important;
    height: 3px !important;
    width: 8px !important;
  }
  .container .ProductCards .SingleCards .AddToCartButton .add-btn::after {
    right: 7px !important;
  }
  .container .ProductCards .SingleCards .AddToCartButton .add-btn::before {
    left: 7px !important;
  }
  .container .ProductCards .SingleCards .AddToCartButton .btn-txt {
    font-size: 0.8rem !important;
    margin: 0px 5px !important;
  }
  .container .ProductCards .SingleCards .AddToCartButton .add-btn:hover::before,
  .container .ProductCards .SingleCards .AddToCartButton .add-btn:hover::after {
    width: 4px !important;
  }
  .container .ProductCards .SingleCards .AddToCartButton .add-icon::after,
  .container .ProductCards .SingleCards .AddToCartButton .add-icon::before {
    top: 6px !important;
    height: 15px !important;
    width: 2px !important;
  }
  .container .ProductCards .SingleCards .AddToCartButton .add-icon::after {
    right: 13.5px !important;
  }
  .container .ProductCards .SingleCards .AddToCartButton .add-icon::before {
    left: 13.5px !important;
  }
}/*# sourceMappingURL=ProductPage.css.map */