.PageLayoutContainer {
  position: relative;
  font-family: "Montserrat";
  min-height: 99.76vh;
  padding: 0rem !important;
  margin: 0rem !important;
}
.PageLayoutContainer .LogoImg {
  position: absolute;
  margin-top: 1rem;
  margin-left: 2rem;
}
.PageLayoutContainer .LogoImg img {
  width: 5rem;
  height: 4.3rem;
}
.PageLayoutContainer .PageLayoutInnerContent {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 13rem;
  min-height: 99.76vh;
  place-items: center;
}
.PageLayoutContainer .PageLayoutInnerContent .CommonForm .FormLayoutOuter {
  width: 22rem;
  height: 100%;
  display: flex;
  position: relative;
}
.PageLayoutContainer .PageLayoutInnerContent .CommonForm .FormLayoutOuter .FormLayout {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.PageLayoutContainer .PageLayoutInnerContent .CommonForm .FormLayoutOuter .FormLayout h2 {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
}
.PageLayoutContainer .PageLayoutInnerContent .CommonForm .FormLayoutOuter .FormLayout h6 {
  text-align: left;
  font-size: 1rem;
  color: gray;
}
.PageLayoutContainer .PageLayoutInnerContent .CommonForm .FormLayoutOuter .FormLayout form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.PageLayoutContainer .PageLayoutInnerContent .CommonForm .FormLayoutOuter .FormLayout form input {
  border: none;
  border-bottom: 2px solid rgb(212, 212, 212);
  padding: 0.5rem auto 0.5rem 5rem;
  padding: 1rem !important;
}
.PageLayoutContainer .PageLayoutInnerContent .CommonForm .FormLayoutOuter .FormLayout .LoginButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.PageLayoutContainer .PageLayoutInnerContent .CommonForm .FormLayoutOuter .FormLayout .LoginButtons button {
  border: none;
  height: 3rem;
  border-radius: 1.2em;
  font-weight: 700;
}
.PageLayoutContainer .PageLayoutInnerContent .CommonForm .FormLayoutOuter .FormLayout .LoginButtons .Button-Proceed {
  background-color: #364154;
  color: #fff;
}
.PageLayoutContainer .PageLayoutInnerContent .LoginImage {
  margin: 0rem !important;
  margin-bottom: 0rem !important;
  position: relative;
  width: 50%;
}
.PageLayoutContainer .PageLayoutInnerContent .LoginImage img {
  position: relative;
  left: -1.5rem;
  width: 58.2rem;
  height: auto;
  border-radius: 1.2em;
}
.PageLayoutContainer .PageLayoutInnerContent .LoginImage button {
  position: absolute;
  top: 0rem;
  right: -16rem;
  margin: 1rem 1rem 0rem 0rem;
  z-index: 1;
  width: 8rem;
  height: 3rem;
  border: none;
  display: flex;
  place-content: center;
  place-items: center;
  background-color: #364154;
  border-radius: 1.2em;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .PageLayoutContainer .LogoImg {
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .PageLayoutContainer .LogoImg img {
    width: 5rem;
    height: 4.3rem;
  }
  .PageLayoutContainer .PageLayoutInnerContent {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 0rem;
    place-items: center;
  }
  .PageLayoutContainer .PageLayoutInnerContent .CommonForm .FormLayoutOuter {
    padding: 3rem;
    border-radius: 1.2em;
    width: 25rem;
    height: 100%;
    display: flex;
    position: relative;
    left: 5rem;
  }
  .PageLayoutContainer .PageLayoutInnerContent .FormLayout {
    display: flex;
    flex-direction: column;
    gap: 2rem !important;
  }
  .PageLayoutContainer .PageLayoutInnerContent .FormLayout h2 {
    text-align: left;
    font-size: 1.5rem !important;
    font-weight: 700;
    color: #fff;
  }
  .PageLayoutContainer .PageLayoutInnerContent .FormLayout h6 {
    text-align: left;
    font-size: 0.7rem !important;
    color: #fff !important;
  }
  .PageLayoutContainer .PageLayoutInnerContent .FormLayout form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .PageLayoutContainer .PageLayoutInnerContent .FormLayout form input {
    color: #fff !important;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(212, 212, 212);
    padding: 0.5rem auto 0.5rem 5rem;
    padding: 1rem !important;
  }
  .PageLayoutContainer .PageLayoutInnerContent .FormLayout form input::-moz-placeholder {
    color: #fff;
  }
  .PageLayoutContainer .PageLayoutInnerContent .FormLayout form input::placeholder {
    color: #fff;
  }
  .PageLayoutContainer .PageLayoutInnerContent .FormLayout .LoginButtons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .PageLayoutContainer .PageLayoutInnerContent .FormLayout .LoginButtons button {
    border: none;
    height: 3rem;
    border-radius: 1.2em;
    font-weight: 700;
  }
  .PageLayoutContainer .PageLayoutInnerContent .FormLayout .LoginButtons .Button-Proceed {
    background-color: #364154;
    color: #fff;
  }
  .PageLayoutContainer .LoginImage {
    margin: 1rem 1rem 0rem 0rem;
    width: 50%;
  }
  .PageLayoutContainer .LoginImage img {
    position: relative;
    left: -27rem !important;
    top: -0.5rem;
    z-index: -1;
    opacity: 90%;
    width: 58rem;
    height: auto;
    border-radius: 1.2em;
  }
  .PageLayoutContainer .LoginImage button {
    position: absolute;
    top: 0rem !important;
    right: 0.5rem !important;
    margin: 1rem 1rem 0rem 0rem;
    z-index: 1;
    width: 8rem;
    height: 3rem;
    border: none;
    display: flex;
    place-content: center;
    place-items: center;
    background-color: #364154;
    border-radius: 1.2em;
    color: #fff;
  }
}/*# sourceMappingURL=PageLayout.css.map */