@import "../../../globalcss/global.scss";

.MissionVission {
    margin-top: 10rem;
    border-radius: 1.2em;
    background-color: #2f455c;
    width: 100%;
    height: 25rem;
    color: #fff !important;
    padding: 20px 50px 20px;
    .BoxHead {
      font-weight: 700;
      width: 10rem;
      text-align: center;
      color: #fff !important;
      // background-color: red;
    }
    .BoxContent {
      text-align: left;
      width: 50rem;
      // background-color: aqua;
      h1 {
        font-weight: 700;
        color: #fff !important;

        width: 37rem;
      }
      p {
        color: #fff !important;

        width: 37rem;
      }
    }
  }



  @media screen and (max-width: 900px) {
    
      
      .MissionVission {
        margin-top: 5rem;
        border-radius: 1.2em;
        background-color: #2f455c;
        width: 100%;
        height: 25rem;
        color: #fff !important;
        padding: 20px 50px 20px;
  
        .BoxHead {
          margin-left: -1.9rem;
          font-weight: 700;
          width: 10rem;
          text-align: left;
          color: #fff !important;
        }
        .BoxContent {
          margin-left: -2rem;
          text-align: left;
          width: 30rem;
          font-size: 0.8rem;
          h1 {
            font-weight: 700;
            color: #fff !important;
  
            width: 30rem;
          }
          p {
            color: #fff !important;
  
            width: 30rem;
          }
        }
      }
      
      
      
  }