@import "../../../globalcss/global.scss";

.ProductCardsContainer {
  background-color: $thirdcolor;
  padding: 5rem 0rem;

  .container {
    // margin-top: 2rem ;
    h1 {
      font-weight: 700;
      color: $secondarycolor;
    }
    .ProductCards {
      display: grid;
      grid-template-columns: 28rem 28rem 28rem;

      .SingleCards {
        margin-top: 3rem;
        // background-color: #2F455C;
        background-color: #fff;
        border-radius: 1.2em;
        width: 25rem;
        height: 18.5rem;
        padding: 25px;
        color: $secondarycolor;
        .CardHead {
          display: flex;
          gap: 6rem;
          flex-direction: row;
          place-items: center;

          .ProductSubHead {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            place-items: center;
            color: $secondarycolor;
            // font-size: 2rem !important;

            // height: 2rem;
          }
          .ProductSVG {
            background-color: $secondarycolor;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            display: flex;
            place-content: center;
            place-items: center;
            svg {
              width: 2rem;
              height: 2rem;
            }
          }
        }
        .CardBody {
          margin: 1.5rem 0rem;
        }
        .CardBase {
          display: flex;
          gap: 7rem;
          place-items: center;
          margin-bottom: 1rem;
          .BaseButton {
            color: #fff;
            font-weight: 700;
            font-size: 0.8rem !important;
            width: 10rem;
            height: 2.5rem;
            display: flex;
            place-content: center;
            place-items: center;
            background-color: $secondarycolor;
            border-radius: 1.2em;
            // padding: 0.2rem;
          }
          .AddToCartButton {
            .icon-btn {
              // width: 2.5rem;
              // height: 2.5rem;
              width: 50px;
              height: 50px;
              border: 1px solid #cdcdcd;
              background: $secondarycolor;
              border-radius: 25px;
              overflow: hidden;
              position: relative;
              transition: width 0.2s ease-in-out;
              font-weight: 500;
              font-family: inherit;
            }

            .add-btn:hover {
              width: 8rem;
            }

            .add-btn::before,
            .add-btn::after {
              transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
              content: "";
              position: absolute;
              height: 4px;
              width: 10px;
              top: calc(50% - 2px);
              background: #fff;
              // background: $primarycolor ;
            }

            .add-btn::after {
              right: 14px;
              overflow: hidden;
              border-top-right-radius: 2px;
              border-bottom-right-radius: 2px;
            }

            .add-btn::before {
              left: 14px;
              border-top-left-radius: 2px;
              border-bottom-left-radius: 2px;
            }

            .icon-btn:focus {
              outline: none;
            }

            .btn-txt {
              opacity: 0;
              font-size: 0.8rem !important;
              // padding: 4px !important;
              margin: 0px 5px !important;
              transition: opacity 0.2s;
              color: #fff;
            }

            .add-btn:hover::before,
            .add-btn:hover::after {
              width: 4px;
              border-radius: 2px;
            }

            .add-btn:hover .btn-txt {
              opacity: 1;
            }

            .add-icon::after,
            .add-icon::before {
              transition: all 0.2s ease-in-out;
              content: "";
              position: absolute;
              height: 20px;
              width: 2px;
              top: calc(50% - 10px);
              // background: $primarycolor;
              background: #fff;
              overflow: hidden;
            }

            .add-icon::before {
              left: 22px;
              border-top-left-radius: 2px;
              border-bottom-left-radius: 2px;
            }

            .add-icon::after {
              right: 22px;
              border-top-right-radius: 2px;
              border-bottom-right-radius: 2px;
            }

            .add-btn:hover .add-icon::before {
              left: 15px;
              height: 4px;
              top: calc(50% - 2px);
            }

            .add-btn:hover .add-icon::after {
              right: 15px;
              height: 4px;
              top: calc(50% - 2px);
            }
          }
        }
      }

      #BlueBase {
        background-color: $secondarycolor;
      }
      #BlueBaseTextColor {
        p {
          color: #fff !important;
        }
        // border: 5px solid red;
        // background-color: #4BACE0;
      }
      #BlueBaseButtonColor {
        background-color: #fff !important;
        color: $secondarycolor;
        // background: $primarycolor;
        .add-icon::after,
        .add-icon::before {
          // background: #fff ;
          background: $primarycolor !important;
        }
        .add-btn::before,
        .add-btn::after {
          // background: #fff ;
          background: $secondarycolor !important ;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .ProductCardsContainer {
    .container {
      // margin-left: 2rem ;
      display: flex;
      flex-direction: column;
      place-items: center;
      h1 {
        font-size: 1.5rem;
      }
      .ProductCards {
        display: grid;
        grid-template-columns: 25rem !important;
        row-gap: 0rem !important;
        margin-top: 1rem;
        place-items: center;
        .SingleCards {
          display: flex;
          flex-direction: column;
          gap: 0rem !important;
          margin-top: 1rem !important;
          width: 20rem !important;
          height: 15rem !important;

          .CardHead {
            h5 {
              font-size: 1rem;
              margin-bottom: 0rem !important;
            }

            .ProductSubHead {
              gap: 1rem !important;

              h3 {
                font-size: 1.3rem;
                margin-bottom: 0rem !important;
              }
            }
            .ProductSVG {
              width: 2.5rem;
              height: 2.5rem;
              svg {
                width: 1.5rem;
                height: 1.5rem;
              }
            }
          }
          .CardBody {
            margin: 1rem 0rem;
            p {
              font-size: 0.8rem !important;
            }
          }
          .CardBase {
            gap: 7rem;
            .BaseButton {
              font-size: 0.6rem !important;
              width: 6rem;
              height: 1.8rem;
              p {
                font-size: 0.4rem;
                margin-top: 0.9rem !important;
              }
            }
          }
          .CardBase:hover {
            .BaseButton {
              height: 1.8rem;
            }
          }
          .AddToCartButton {
            .icon-btn {
              width: 30px !important;
              height: 30px !important;
              // overflow: visible !important;
            }

            .add-btn:hover {
              width: 6rem !important;

              .btn-txt {
                p {
                  margin-top: 0.4rem;
                  font-size: 0.5rem;
                }
              }
            }

            .add-btn::before,
            .add-btn::after {
              top: 12px !important;
              height: 3px !important;
              width: 8px !important;
            }

            .add-btn::after {
              right: 7px !important;
            }

            .add-btn::before {
              left: 7px !important;
            }

            .btn-txt {
              font-size: 0.8rem !important;
              // padding: 4px !important;
              margin: 0px 5px !important;
            }

            .add-btn:hover::before,
            .add-btn:hover::after {
              width: 4px !important;
            }

            .add-icon::after,
            .add-icon::before {
              top: 6px !important;
              height: 15px !important;
              width: 2px !important;
            }
            .add-icon::after {
              right: 13.5px !important;
            }
            .add-icon::before {
              left: 13.5px !important;
            }
          }
        }
      }
    }
  }
}
