@import "../../../globalcss/global.scss";



.SignupPageContainer{
    // background-color: aqua;

.FormLayoutOuter{

    width: 22rem;
    height: 100%;
    display: flex;
    // margin-left: 8rem;
    // justify-content: start;
    // place-content: center;
}
}